.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position:fixed;
  height: 100%;
  overflow: auto;
  background-color:#28282f;
  

  h1{
    color: #fff;
    border-radius: 8px;
    padding: 1rem;
    margin: 0;
  }

  h1:hover{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    cursor:default
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(117, 17, 232, 0.869), 0 0 40px rgba(101, 5, 211, 0.869), 0 0 50px rgba(92, 4, 192, 0.869), 0 0 60px rgba(90, 3, 189, 0.869), 0 0 70px rgba(69, 5, 143, 0.869);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px rgba(137, 49, 237, 0.869), 0 0 40px rgba(135, 44, 240, 0.869), 0 0 50px rgba(140, 46, 248, 0.869), 0 0 60px rgba(145, 59, 243, 0.869), 0 0 70px rgba(157, 76, 250, 0.869), 0 0 80px rgba(168, 106, 240, 0.869);
  }
}